# Python build files and cache
__pycache__
__pycache__/*.pyc
__pycache__/*.pyo
__pycache__/**/*.pyc
__pycache__/**/*.pyo

# Editor files
.vscode

# Local build files
db.sqlite3
static
static/*
static/**/*